/FileGeditToCilpboard$1.class
/FileGeditToCilpboard.class
/File_copy.class
/File_open.class
/IndentedTextArea$IndentDocument.class
/IndentedTextArea.class
/OpenOneNotePage.class
/String_ArrowChange.class
